@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
        background-color: #f4f4f4;


}

.footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex: 1;
    row-gap: 15px;
    padding: 20px;
    font-family: 'Poppins';


}

.footer a {
    text-decoration: none;
    display: flex;
    color: #606060;
    transition: color .2s ease-in-out;
}

.footer p {
    color: #606060;
    margin: 0;
}

.footer a:hover, .footer-row-2 i:hover {
    color: black;
}

.footer-row-2 {
    display: flex;
    gap: 20px;
}

.footer-row-2 i {
    font-size: 1.6rem;
    color: #606060;
    cursor: pointer;
    transition: color .2s ease-in-out;

}